*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

#container{
    height: 100vh;
    background-color: #26C6DA;
}

.form{
    display: flex;
    justify-content: space-around;
    height: 9vh;
    font-size: 5vw;
    margin-bottom: 3vh;
}

.champTache{
    width: 82vw;
    padding-left: 1vw;
    font-style: italic;
    border: solid 2px #0097A7;
    border-radius: 10px;
    background-color: #0097A7;
}

.champTache, #boutonAjouter{
    font-size: 3vw;
}

.boutonAjouter{
    width: 17vw;
    border: solid 2px #0097A7;
    border-radius: 10px;
    background-color: #0097A7;
    transition: all 0.5s;
}

.pasDeTache{
    margin-top: 15px;
}

span, .boutonAjouter{
    cursor: pointer;
}

.boutonAjouter:hover{
    background-color: #00ACC1;
    border: solid 2px #00ACC1;
}

.boutonAjouter:active{
    background-color: #00E676;
    border: solid 2px #00E676;
}

ol {
    padding-top: 20px;
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  li {
    counter-increment: my-awesome-counter;
    list-style: none;
    padding: 3px;
    background-color: #00ACC1;
    margin-bottom: 4px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 2vw;
    display: flex;
    align-items: center;
  }
  li::before {
    content: counter(my-awesome-counter) " ~ ";
  }

.removeliElt{
    color: #b71c1c;
    transition: all 0.5s;
}

.removeliElt:hover{
    transform: rotate(360deg);
}

/* .iconImportant{
    color: #757575;
}

.taskurgent{
    color: gold;
} */

.texte{
    display: inline-block;
    width: 78vw;
    word-wrap: break-word;
}

.spanOptionElt{
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.pasDeTache{
    font-style: italic;
    font-size: 2vw;
    margin-left: 1vw;
}

.installBtn{
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #26C6DA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    transition: all 0.8s;
}

.slide{
    transform: translate(100%);
}

/* Media queries */

@media screen and (min-width : 700px){
    .champTache, .boutonAjouter{
        font-size: 2.5rem;
    }

    .pasDeTache, li{
        font-size: 2rem;
    }

    .installBtn{
        height: 35px;
    }
}